<!DOCTYPE html>
<head>
  <title>View Spaces</title>
</head>
<body>
  <h1>View Spaces</h1>
  <section class="feed">
    <div class="space">
      <ul>
      <%@spaces.each do|space|%>
        <li>
        <%=space.name%> - £<%=space.price%> - <%=space.description%>
        </li>
      <%end%>
      </ul>
    </div>
  </section>
</body>
</html>
